<div class="row show-grid">
	<div class="span-one-third offset-one-third">
	<div id="vote_form">
  		<% if session[:user_id] != nil && current_user.voteds?(@consideration) != nil %>
    		<%= render 'shared/results' %>
  		<% else %>
    		<%= render 'users/vote' %>
  		<% end %>
  		<%= render 'considerations/destroy_consideration' %>
  	</div>
  	</div>
</div>