<div id="profile-top" class="hero-unit">
	<div class="row" id="profile-name"><%= "#{@user_to_show.name}" %></div>
	<% if current_user && current_user.admin? %>
		<div class="row" id="profile-ban">
			<% if @user_to_show.banned? %>
				This user is already banned. Hooray!
			<% else %>
				<%= link_to "Ban", edit_user_path %>
			<% end %>
		</div>
	<% end %>
</div>
<% unless @user_considerations.empty? %>
  	<%= render @user_considerations %>
<% end %>