<h1><%= "#{@user_to_show.name}" %></h1>
<%= render 'users/destroy_user' %>
<br />
<br />
<% unless @user_considerations.empty? %>
  	<%= render @user_considerations %>
<% end %>
<br />
<%= render 'shared/signed_in_page_bottom' %>