<div class="row show-grid">
	<div id="about" class="span-two-thirds">
		This is where you could submit new considerations if you were signed in.
	</div>
	<div id="search" class="span-one-third">
		<%= render 'shared/search_form' %>
	</div>
</div>
