<div class="row show-grid">
	<div id="bottom-left" class="span-two-thirds">
		This is where you could submit new considerations if you were signed in.
	</div>
	<div id="bottom-right" class="span-one-third">
		[some links, perhaps?]
	</div>
</div>
