	<% if session[:user_id] != nil && @consideration %>
		<div id="mini-hero" class="row vote-form">
			<%= render 'users/vote_form' %><br />
		</div>
</div>
	<% else %>
		<% if Consideration.count != 0 %>
			<div id="mini-hero" class="row number-votes">
	 			(This consideration has <%= pluralize(@consideration.votes_count, "vote") %> so far.)<br /> 
	 			<%= link_to "Sign in with Twitter to vote and see results!", "/auth/twitter" %>
			</div>
		<% end %>
</div>
	<% end %>