<div id="results">
	Total of all votes: <%= @consideration.votes_total %><br />
	Total number of votes: <%= @consideration.votes_count %><br />
	Considerate/creepy: <%= @consideration.results %>
</div>