<div class="row show-grid">
	<div id="about" class="span-two-thirds">
		<%= render 'shared/consideration_form' %>
	</div>
	<div id="search" class="span-one-third">
		<%= render 'shared/search_form' %>
	</div>
</div>