	<table class="front" summary="For signed-in users">
		<tr>
			<td class="vote_on">
				<div>
					<%= @random_consideration.content %>
				</div>
			</td>
		</tr>
		<tr>
			<td class="submit">
				<%= render 'shared/consideration_form' %>
			</td>
		</tr>
	</table>