	<table class="front" summary="For signed-in users">
		<tr>
			<td class="vote_on">
				<p>
					A sample consideration? See votes? Something?
				</p>
			</td>
		</tr>
		<tr>
			<td class="submit">
				<%= render 'shared/consideration_form' %>
			</td>
		</tr>
	</table>