<div>
	<% if Consideration.count != 0 %>
		<%= link_to wrap(@consideration.content), consideration_path(@consideration) %><br />
		<%= render 'users/vote_form' %>
	<% end %>
</div><br/>
<br/>
<%= render 'shared/signed_in_page_bottom' %>