<div id="new-vote-<%= @consideration.id %>">
	<%= form_for @consideration, :remote => true do |f| %>
		<%= range_field_tag :rating, :in => 10...101 %>
		<div class="vote-creepy">creepy</div> 
		<div class="vote-considerate">considerate</div> 
		<div class="actions vote-button"><%= f.submit "Vote!", :class => "btn btn-large btn-primary", :id => "vote-button" %></div>
	<% end %>
</div>