<% provide(:title, 'About ') %>
<div id="about-top" class="hero-unit">
	<div class="row" id="about-title">
		About
	</div>
</div>
<div id="about" class="hero-unit">
	<p><%= link_to "Considerating", root_path %> is the brainchild of <a href="http://thingswemake.com">Josh Sucher</a>. He's also the only admin, so you should <%= mail_to "josh@blockfactory.com", "email him" %> if you have any issues.</p>
	<br />
	<p>Developed and designed by <a href="http://daniellesucher.com">Danielle Sucher</a>. You're welcome to <a href="https://github.com/DanielleSucher/considerating">grab the source code from GitHub</a>, or <%= mail_to "dsucher@gmail.com", "email her" %> with any technical concerns/suggestions/comments. Patches are more welcome than complaints without simultaneously proffered solutions, natch. </p>
</div>