<div id="home-consideration-content" class="hero-unit delete-able">
	<div id="consideration-content-big">
		<% if Consideration.count != 0 %>
			<div class="row">
				<div id="consideration-text">
					<p><%= wrap(@consideration.content) %></p>
				</div>
			</div>
		<% end %>
	</div>
	<%= render 'shared/page_bottom' %>