<tr>
	<td class="consideration">
    	<span class="content"><%= consideration.content %></span><br />
    	<span class="voting">
      		<% if session[:user_id] != nil %>
				<%= render 'users/vote_form' %>
			<% else %>
				<div id="sign_in_link">
	 				(There have been <%= consideration.votes_count %> votes on this consideration so far.)
				</div>
			<% end %>
    	</span>
  	</td>
</tr>