<tr>
  <td class="consideration">
    <span class="content"><%= consideration.content %></span>
    <span class="voting">
      something about voting, probably with an if/else for signed_in/not
    </span>
  </td>
</tr>