<div id="search-page"></div>
<div class="digg_pagination row"><%= will_paginate @all_considerations %></div>

<% if current_user.admin? %>
	<div id="all-considerations">
		<% @all_considerations.each do |consideration| %>
  			<%= render consideration %>
  		<% end %>
  	</div>
<% end %>

<div class="digg_pagination row"><%= will_paginate @all_considerations %></div>