<div id="consideration-show" class="hero-unit delete-able">
	<div id="consideration-content-big" class="row">
		<span id="consideration-text"><p><%= wrap(@consideration.content) %></p></span>
	</div>
	<%= render 'shared/page_bottom' %>