body {
	color: #000000;
	background-color: transparent; 
	background: url(cloudy2.jpg) no-repeat center center fixed;	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	a:link {color: #000000; text-decoration: none; }
	a:active {color: #000000; text-decoration: none; }
	a:visited {color: #000000; text-decoration: none; }
	a:hover {color: #000000; text-decoration: none; }
	font-family: "parisplus-clair", serif;
	font-size: 15px;
}

.container {
    padding-bottom: 90px;
}

.main-body {
	clear: both;
}

#banner {
	float: left;
	text-align: left;
	font-family: "parisine-std-sombre", sans-serif;
		a:link {color: #000000; text-decoration: none; }
		a:active {color: #000000; text-decoration: none; }
		a:visited {color: #000000; text-decoration: none; }
		a:hover {color: #000000; text-decoration: none; }
	margin-top: 23px;
	font-size: 50px;
  	line-height: 1em;
}

#user_nav {
	direction: rtl;
	float: right;
	text-indent: 50px;
	margin-top: 30px;
}

.user_nav {
	background-color: transparent; /* #FDF8FF */
	padding-left: 3px;
	padding-right: 3px;
}

.searchfield,
.user_nav,
.vote-form,
.number-votes,
#user_nav,
#randomizer,
#submitted,
.bottombar {
	font-size: 13px;
}

.searchdiv {
	text-align: right;
	margin-top: 13px;
	float: right;
	background-color: transparent;
}

.searchspan {
	background: white;
  	padding-right: 5px;
  	margin-left: 8px;
  	padding-top: 2px;
    padding-bottom: 2px;
}

.new-consideration-field,
.searchspan {
	-webkit-border-radius: 6px;
  	-moz-border-radius: 6px;
  	border-radius: 6px;
  	border: 1px dotted;
	font-family: "parisplus-clair", serif;
}

#search-page {
	clear: both;
	margin-top: 160px;
}

#voting {
	padding-top: 10px;
}

.searchbutton {
	background: url(magnifying_glass_12x12.png) no-repeat center;
}

.searchfield,
.searchbutton {
	font-family: "parisplus-clair", serif;
	border: none;
	background-color: transparent;
  	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
}

#profile-top,
#about-top {
	margin-right: auto;
	margin-left: auto;
	font-family: "parisine-std-sombre", sans-serif;
	a:link {color: #000000; text-decoration: none; }
	a:active {color: #000000; text-decoration: none; }
	a:visited {color: #000000; text-decoration: none; }
	a:hover {color: #000000; text-decoration: none; }
  	text-align: left;
	padding-left: 40px;
	padding-right: 30px;
	width: 600px;
}

#profile-name {
	font-size: 24px;
  	line-height: 36px;
  	margin-top: 50px;
}

#about-title {
	font-size: 24px;
  	line-height: 36px;
  	margin-top: 70px;
}

#about { 
	a:link { border-bottom:1px dotted; }
	a:active { border-bottom:1px dotted; }
	a:visited { border-bottom:1px dotted; }
	a:hover { border-bottom:1px dotted; }
	padding-bottom: 20px;
}

.bottombar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#footer {
	background-color: #f2f2f2; /* or maybe #FDF8FF */
	padding-left: 3px;
	padding-right: 3px;
}

.new-consideration-field {
	padding:5px;
	align: left;
	text-align: left;
	width:95%;
	height: 200px;
}

#new-consideration-button {
	float: right;
	padding-right: 40px;
	padding-top: 10px;
	font-family: "parisplus-clair", serif;
	color: #000;
}

#new-cons-button,
#vote-button {
	font-family: "parisplus-clair", serif;
}

.vote-button {
	margin-top: 10px;
	padding-top: 10px;
	color: #000;
	font-size: 13px;
	text-align:center;
}

/* centering the heroes in home and show */
#mini-hero,
#number-votes,
#vote-results {
	text-align: center;
	width: 600px ;
  	margin-left: auto ;
  	margin-right: auto ;
}
    
#home-consideration-content {
	padding-left: 50px;
}

#consideration-content-big,
#new-consideration-page,
#each-consideration,
#about,
#ban-page,
#no-search-results {	
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
	width: 600px ;
  	margin-left: auto ;
  	margin-right: auto ;
  	padding-bottom: 100px;
  	
  	-webkit-border-radius: 6px;
  	-moz-border-radius: 6px;
  	border-radius: 6px;
} 

#each {
  font-size: 18px;
  text-align: center;
}

#consideration-content-big,
#no-search-results {
  	margin-top: 50px;
  	padding-top: 30px;
}

#new-consideration-page {
  	margin-top: 80px;
  	padding-top: 80px;
}

#ban-button {
	float: right;
	margin-right: 150px;
	margin-top: 10px;
	padding-top: 10px;
	color: #000;
	font-size: 13px;
	text-align:center;
	width: 100px;
}

#ban-btn {
	font-family: "parisplus-clair", serif;
}

#consideration-content-big {
	padding-bottom: 30px;
}

#randomizer {
	float: right;
	font-size: 13px;
	text-align:center;
	width: 200px;
	padding-bottom: 10px;
}

.home-bottom {
	clear: both;
	margin-top: 30px;
	font-size: 24px;
	text-align:center;
	a:link { border-bottom:1px dotted; }
	a:active { border-bottom:1px dotted; }
	a:visited { border-bottom:1px dotted; }
	a:hover { border-bottom:1px dotted; }
}

#submitted {
	clear: both;
	text-align: center;
	a:link { border-bottom:1px dotted; }
	a:active { border-bottom:1px dotted; }
	a:visited { border-bottom:1px dotted; }
	a:hover { border-bottom:1px dotted; }
}


#graph-creepy {
	float: right;
	margin-right: 30px;
	margin-top: 10px;
	font-size: 13px;
	text-align:center;
	width: 100px;
}

#graph-considerate {
	float: right;
	margin-right: 340px;
	margin-top: 10px;
	font-size:13px;
	text-align:center;
	width: 100px;
}

#total-vote-count {
	clear: both;
	text-align: center;
	padding-top: 10px;
}

.tweet {
	clear: both;
	float: right;
	font-size: 13px;
	margin-right: 140px;
}

.each-tweet {
	clear: both;
	float: right;
	font-size: 13px;
}

#consideration-text {
	text-align: center;
}