// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* flash notices */

#flash {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
	border: 2px solid #ccc;
	margin-top: 60px;
	padding: 20px;
	font-weight: bold;
}

#user_nav {
	direction: rtl;
	text-indent: 50px;
}

#consideration_content {
	text-align: center;
}

#banner {
	text-align: center;
}