
/* slider root element */
.slider { 
	background:#800000; 
	height:2px; 
	position:relative; 
	cursor:pointer;
	border:1px solid #333;
	width:200px;
	margin-left: auto;
	margin-right: auto;
	margin-top:10px;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-moz-box-shadow:inset 0 0 1px #000;
}

/* progress bar (enabled with progress: true) */
.progress {
	height:9px; 
	background-color:#C5FF00; 
	display:none;
	opacity:0.6;
}

/* drag handle */
.handle { 
	background:#fff; 
	height:14px;
	width:14px;
	top:-8px;
	position:absolute; 
	display:block; 
	margin-top:1px;
	border:1px solid #000;
	cursor:move;
    -webkit-box-shadow: inset -2px -2px 1px #000;
	-moz-box-shadow: inset -2px -2px 1px #000;
	-moz-border-radius:14px;
	-webkit-border-radius:14px; 

}

/* the input field */
.range {
	border: none transparent;
	color: transparent;
	width: 0px;
	height: 0px;
	background-color: transparent;
	background: transparent;
	text-align:center;	
	-webkit-box-shadow: none transparent;
	-moz-box-shadow: none transparent;
	-moz-border-radius: none transparent;
	-webkit-border-radius: none transparent; 
}

/* the labels */

.vote-creepy {
	float: right;
	margin-right: 150px;
	margin-top: 10px;
	font-size: 13px;
	text-align:center;
	width: 100px;
	-webkit-box-shadow: none transparent;
	-moz-box-shadow: none transparent;
	-moz-border-radius: none transparent;
	-webkit-border-radius: none transparent; 
}

.vote-considerate {
	float: right;
	margin-right: 100px;
	margin-top: 10px;
	font-size:13px;
	text-align:center;
	width: 100px;
	-webkit-box-shadow: none transparent;
	-moz-box-shadow: none transparent;
	-moz-border-radius: none transparent;
	-webkit-border-radius: none transparent; 
}