<div class="row show-grid bottombar well">
	<div id="footer">
		Concept/administration by <a href="http://thingswemake.com">Josh Sucher</a>, development/design by <a href="http://daniellesucher.com">Danielle Sucher</a>, released under the <a href="http://www.gnu.org/licenses/gpl.html">GNU General Public License.</a>
	</div>
</div>